name: Deploy to GitHub Pages

on: [push]

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: yarn install

      - name: build
        run: |
          yarn build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          # this should match the `pages` option in your adapter-static options
          path: 'build/'

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: https://salman2301.com

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v2
